Repository tharsheblows/alphabet-guess: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:phpcs, npm run lint:phpstan, npm run lint:js, npm run lint:css, npm run lint:md:docs

update lint rules, add alphabet endpoint
  .eslintignore
  .eslintrc
  .gitignore
  .stylelintrc
  .wp-env.json
  composer.json
  composer.lock
  includes/Hooks.php
  includes/RestAlphabet.php
  package-lock.json
  package.json
  phpcs.xml.dist
  phpstan.neon.dist
  src/css/main.scss
  src/index.js
  tools/.gitignore
  tools/git-hooks/pre-commit
Due: npm run lint:phpcs, npm run lint:phpstan, npm run lint:js, npm run lint:css

fix linting, add formatting
  .stylelintrc
  .wp-env.json
  composer.json
  package-lock.json
  package.json
  postcss.config.js
  src/css/main.scss
Due: npm run lint:js, npm run lint:css

add in interactive block via scaffold
  composer.json
  composer.lock
  includes/Blocks.php
  includes/Hooks.php
  package-lock.json
  package.json
  phpcs.xml.dist
  phpstan.neon.dist
  plugin.php
  src/blocks/characters/README.md
  src/blocks/characters/block.json
  src/blocks/characters/edit.js
  src/blocks/characters/editor.scss
  src/blocks/characters/index.js
  src/blocks/characters/render.php
  src/blocks/characters/style.scss
  src/blocks/characters/view.js
  src/index.js
Due: npm run lint:phpcs, npm run lint:phpstan, npm run lint:js, npm run lint:css, npm run lint:md:docs

update webpack, start playing around
  .vscode/launch.json
  .wp-env.json
  README.md
  includes/Enqueue.php
  includes/Hooks.php
  includes/RestAlphabet.php
  package-lock.json
  package.json
  src/blocks/characters/block.json
  src/blocks/characters/edit.js
  src/blocks/characters/editor.scss
  src/blocks/characters/render.php
  src/blocks/characters/style.scss
  src/blocks/characters/view.js
  src/css/_variables.scss
  src/css/main.scss
  src/index.js
Due: npm run lint:phpcs, npm run lint:phpstan, npm run lint:js, npm run lint:css, npm run lint:md:docs

oooh, it's removing letters now
  README.md
  src/blocks/characters/render.php
  src/blocks/characters/view.js
Due: npm run lint:phpcs, npm run lint:phpstan, npm run lint:js, npm run lint:md:docs

add in controller block, needs finishing
  .vscode/launch.json
  README.md
  includes/Blocks.php
  src/blocks/characters/README.md
  src/blocks/characters/block.json
  src/blocks/characters/edit.js
  src/blocks/characters/js/edit.js
  src/blocks/characters/render.php
  src/blocks/characters/view.js
  src/blocks/controller/block.json
  src/blocks/controller/editor.scss
  src/blocks/controller/index.js
  src/blocks/controller/js/edit.js
  src/blocks/controller/js/settings.js
  src/blocks/controller/render.php
  src/blocks/controller/style.scss
  src/blocks/controller/view.js
  src/helpers/constants.js
Due: npm run lint:phpcs, npm run lint:phpstan, npm run lint:js, npm run lint:css, npm run lint:md:docs

working, needs editor view
  src/blocks/characters/render.php
  src/blocks/characters/style.scss
  src/blocks/characters/view.js
  src/blocks/controller/editor.scss
  src/blocks/controller/index.js
  src/blocks/controller/render.php
  src/blocks/controller/style.scss
  src/blocks/controller/view.js
  src/css/_variables.scss
Due: npm run lint:phpcs, npm run lint:phpstan, npm run lint:js, npm run lint:css

documenting approach for managing state and multiple blocks
  README.md
Due: npm run lint:md:docs

working, first version with slightly more organised state
  README.md
  includes/BlockAlphabetGuess.php
  includes/Blocks.php
  src/blocks/alphabet-guess/characters/block.json
  src/blocks/alphabet-guess/characters/index.js
  src/blocks/alphabet-guess/characters/js/edit.js
  src/blocks/alphabet-guess/characters/render.php
  src/blocks/alphabet-guess/characters/style.scss
  src/blocks/alphabet-guess/characters/view.js
  src/blocks/alphabet-guess/controller/block.json
  src/blocks/alphabet-guess/controller/index.js
  src/blocks/alphabet-guess/controller/js/edit.js
  src/blocks/alphabet-guess/controller/js/settings.js
  src/blocks/alphabet-guess/controller/render.php
  src/blocks/alphabet-guess/controller/style.scss
  src/blocks/alphabet-guess/controller/view.js
  src/blocks/alphabet-guess/game/block.json
  src/blocks/alphabet-guess/game/index.js
  src/blocks/alphabet-guess/game/js/edit.js
  src/blocks/alphabet-guess/game/js/save.js
  src/blocks/alphabet-guess/game/render.php
  src/blocks/alphabet-guess/game/style.scss
  src/blocks/alphabet-guess/game/view.js
  src/blocks/alphabet-guess/initial-state.js
  src/blocks/characters/render.php
  src/blocks/characters/view.js
  src/blocks/controller/render.php
  src/blocks/controller/view.js
  src/helpers/utils.js
Due: npm run lint:phpcs, npm run lint:phpstan, npm run lint:js, npm run lint:css, npm run lint:md:docs

fix build script to allow modules
  package.json
Due: none

update readme to accurately describe game
  README.md
Due: npm run lint:md:docs

think about using schema for php state init
  includes/BlockAlphabetGuess.php
Due: npm run lint:phpcs, npm run lint:phpstan

clean up a bit and update readme with instructions
  .nvmrc
  README.md
  includes/Enqueue.php
  package-lock.json
  package.json
  src/css/main.scss
  src/index.js
Due: npm run lint:phpcs, npm run lint:phpstan, npm run lint:js, npm run lint:css, npm run lint:md:docs

Abstract a bit and add some styling.
  README.md
  includes/Block.php
  includes/BlockCounter.php
  includes/Blocks.php
  plugin.php
  src/blocks/alphabet-guess/characters/block.json
  src/blocks/alphabet-guess/characters/render.php
  src/blocks/alphabet-guess/characters/view.js
  src/blocks/alphabet-guess/controller/block.json
  src/blocks/alphabet-guess/controller/js/settings.js
  src/blocks/alphabet-guess/controller/render.php
  src/blocks/alphabet-guess/controller/style.scss
  src/blocks/alphabet-guess/controller/view.js
  src/blocks/alphabet-guess/game/block.json
  src/blocks/alphabet-guess/game/js/edit.js
  src/blocks/alphabet-guess/game/js/settings.js
  src/blocks/alphabet-guess/game/render.php
  src/blocks/alphabet-guess/game/view.js
  src/blocks/counter/initial-state.js
  src/blocks/counter/scoreboard/block.json
  src/blocks/counter/scoreboard/index.js
  src/blocks/counter/scoreboard/js/edit.js
  src/blocks/counter/scoreboard/render.php
  src/blocks/counter/scoreboard/style.scss
  src/blocks/counter/scoreboard/view.js
  src/helpers/utils.js
Due: npm run lint:phpcs, npm run lint:phpstan, npm run lint:js, npm run lint:css, npm run lint:md:docs

forgot to mention I added a new block
  README.md
Due: npm run lint:md:docs

Add a block to keep track of totals for all games on the page
  README.md
  includes/Block.php
  includes/BlockCounter.php
  includes/Blocks.php
  plugin.php
  src/blocks/counter/initial-state.js
  src/blocks/counter/scoreboard/render.php
  src/blocks/counter/scoreboard/view.js
  src/blocks/counter/totals/block.json
  src/blocks/counter/totals/index.js
  src/blocks/counter/totals/js/edit.js
  src/blocks/counter/totals/render.php
  src/blocks/counter/totals/style.scss
  src/blocks/counter/totals/view.js
Due: npm run lint:phpcs, npm run lint:phpstan, npm run lint:js, npm run lint:css, npm run lint:md:docs

Make character buttons bigger, add alert for screen readers on win
  .gitignore
  src/blocks/alphabet-guess/characters/style.scss
  src/blocks/alphabet-guess/characters/view.js
  src/blocks/alphabet-guess/controller/style.scss
  src/blocks/alphabet-guess/game/style.scss
  src/css/_helpers.scss
Due: npm run lint:js, npm run lint:css

increase phpstan level, update readme
  README.md
  phpstan.neon.dist
  src/blocks/alphabet-guess/controller/render.php
Due: npm run lint:phpcs, npm run lint:phpstan, npm run lint:md:docs

lint the plugin.php file
  phpcs.xml.dist
  phpstan.neon.dist
Due: none

Path conditions:
  npm run lint:phpcs: any of: *.php
  npm run lint:phpstan: any of: *.php
  npm run lint:js: any of: *.{js,jsx}
  npm run lint:css: any of: *.scss
  npm run lint:md:docs: any of: *.md
